.App {
  text-align: center;
}

body{
  background: rgba(165,97,204,1);
  background: -moz-linear-gradient(left, rgba(165,97,204,1) 0%, rgba(121,0,168,1) 51%, rgba(179,56,220,1) 100%);
  background: -webkit-linear-gradient(left, rgba(165,97,204,1) 0%, rgba(121,0,168,1) 51%, rgba(179,56,220,1) 100%);
  background: -o-linear-gradient(left, rgba(165,97,204,1) 0%, rgba(121,0,168,1) 51%, rgba(179,56,220,1) 100%);
  background: -ms-linear-gradient(left, rgba(165,97,204,1) 0%, rgba(121,0,168,1) 51%, rgba(179,56,220,1) 100%);
  background: linear-gradient(to right, rgba(165,97,204,1) 0%, rgba(121,0,168,1) 51%, rgba(179,56,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a561cc', endColorstr='#b338dc', GradientType=1 );
}

.App-link {
  color: #09d3ac;
}
